.container {
  height: 32px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  user-select: none;
}

.windowActionContainer {
  -webkit-app-region: no-drag;
  color: white;
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
}
