$header-height: 32px;
$sidebar-width: 48px;
$bottom-bar-height: 32px;
$tab-top-bar-height: 42px;
$main-content-sidebar-height: calc(100vh - #{$header-height} - #{$bottom-bar-height} - 64px);
$main-content-view-height: calc(100vh - #{$header-height} - #{$bottom-bar-height} - #{$tab-top-bar-height});
