@use '@renderer/styles/common';

.container {
  margin-bottom: 6px;


  &.fileHide {
    opacity: 0.5;
  }

  .labelContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    .iconExpandPlaceholder {
      width: 20px;
    }

    .iconWrapper {
      min-width: 16px;
    }

    .label {
      font-size: 13px;
      color: rgba(common.$color-white, 0.8);
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
