@use '@renderer/styles/common';

.container {
  padding: 4px 6px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(common.$color-neutral-800, 0.5);
  }

  &.fileHide {
    opacity: 0.5;
  }

  .labelContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    .iconExpandPlaceholder {
      width: 20px;
    }

    .iconWrapper {
      min-width: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .label {
      font-size: 13px;
      color: rgba(common.$color-white, 0.8);
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
