@use '@renderer/styles/common';

.container {
  background-color: rgba(common.$color-neutral-800, 0.5);
  padding: 2px 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;

  .labelContainer {
    display: flex;
    align-items: center;

    .label {
      font-size: 13px;
      color: rgba(common.$color-white, 0.5);
      user-select: none;
    }
  }
}
