@use '@renderer/styles/common';

.container {
  margin-top: 8px;
  max-height: common.$var-main-content-height;
  overflow-y: auto;

  // WebKit browsers (Chrome, Safari)
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2); // semi-transparent thumb
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

  .btnOpenWorkspaceContainer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
