@use '@renderer/styles/common';

.container {
  width: 100%;
  height: 100%;
  margin-top: 8px;
  max-height: common.$var-main-content-sidebar-height;

  .btnOpenWorkspaceContainer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    .thumbYScroll {
      background-color: common.$color-neutral-600 !important;
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;
}
.trackYScroll {
  background-color: transparent !important;
  border-radius: 0px !important;

  .thumbYScroll {
    background-color: transparent !important;
    border-radius: 0px !important;
    width: 8px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
  }
}
